[Unit]
Description=UPnP Renderer front-end to MPD (scx_bpfland scheduled)
After=network-online.target mpd-camel.service scx-bpfland.service
Wants=network-online.target mpd-camel.service

[Service]
Type=simple
User=upmpdcli
Group=upmpdcli

CPUSchedulingPolicy=fifo
CPUSchedulingPriority=75

ExecStart=/usr/bin/upmpdcli -c /etc/upmpdcli.conf
Restart=always
RestartSec=1min

[Install]
WantedBy=multi-user.target
