[Unit]
Description=RoonBridge
After=network-online.target

[Service]
Type=simple
User=root
Group=root

CPUSchedulingPolicy=fifo
CPUSchedulingPriority=75

Environment=ROON_DATAROOT=/var/roon
Environment=ROON_ID_DIR=/var/roon
ExecStart=/opt/RoonBridge/start.sh
Restart=on-abort

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
