[Unit]
Description=Music Player Daemon (Auris - CPU 3 isolated)
After=network.target sound.target

[Service]
Type=notify
User=root
Group=root

ExecStartPre=/bin/mkdir -p /root/.mpd/playlists /var/log
ExecStart=/usr/bin/taskset -c 3 /usr/bin/mpd --systemd /etc/mpd-auris.conf

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
