[Unit]
Description=Music Player Daemon (Auris - scx_bpfland scheduled)
After=network.target sound.target scx-bpfland.service

[Service]
Type=notify
User=root
Group=root

CPUSchedulingPolicy=fifo
CPUSchedulingPriority=80

ExecStartPre=/bin/mkdir -p /root/Music /root/.mpd/playlists /var/log
ExecStart=/usr/bin/mpd --systemd /etc/mpd-auris.conf

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=upmpdcli.service
